<h1>Stupid Coaching form</h1>

<form action="/answer" data-turbo="false">
  <label for="question">Ask your coach something:</label>
  <input type="text" name="question" placeholder="Ask me a question dude">
  <input type="submit" value="Ask!">
</form>
