
<div class="container bg-light col-md-6 p-6">
  <h1>Stupid Coaching form</h1>

  <div class="form-group mx-sm-3 mb-4 d-flex">
    <form action="/answer" data-turbo="false" class ="form-inline">
      <label for="question">Welcome to the question master:</label>
      <input type="text" name="question" placeholder="Ask me a question dude" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary mb-2">
    </form>
  </div>
</div>
